<mat-form-field class="form-field-multiline-subscript">
  <mat-select
      [placeholder]="field.config.label"
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      [required]="field.config.configs.required===true"
      name="{{name}}Dropdown"
      [disabled]="disabled">
    <mat-option *ngFor="let option of field.config.configs.options" [value]="option.value">
      {{option.name}}
    </mat-option>
  </mat-select>
  <mat-hint>{{field.config.description}}</mat-hint>
</mat-form-field>
