<div cdkDropList class="genders" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let gender of field.config.configs.genders; index as idx" cdkDrag cdkDragLockAxis="y" class="gender">

    <div fxFlexLayout="row" fxLayoutAlign="start center" class="gender-container">

      <div class="gender-drag" cdkDragHandle>
        <button button mat-icon-button type="button" class="drag-button gender-drag-button"><mat-icon>drag_indicator</mat-icon></button>
      </div>

      <mat-radio-button disabled="true"></mat-radio-button>

      <mat-form-field floatLabel="never" class="gender-name" fxFlex>
        <input matInput placeholder="Label" [(ngModel)]="gender.name" name="label" [ngModelOptions]="{ updateOn: 'blur' }" (ngModelChange)="changed.emit(field)">
      </mat-form-field>
      <button button mat-icon-button type="button" (click)="remove(idx)"><mat-icon>delete</mat-icon></button>
    </div>
  </div>
</div>

<div>
  <div fxFlexLayout="row" fxLayoutAlign="start center">
    <button button mat-icon-button type="button" *ngIf="field.config.configs.genders.length"><mat-icon></mat-icon></button>
    <mat-checkbox disabled="true" style="visibility: hidden"></mat-checkbox>

    <mat-form-field floatLabel="never" class="new-option" fxFlex>
      <input matInput #addOptionInput placeholder="Add New Gender" [(ngModel)]="newOption" name="newOption" (keydown.tab)="add()" (keyup.enter)="add()">
    </mat-form-field>
  </div>
</div>
