<button mat-fab
        type="button"
        color="primary"
        [matMenuTriggerFor]="menu"
        #trigger="matMenuTrigger"
        class="toolbar-button">
  <mat-icon>
    add
  </mat-icon>
</button>

<mat-menu #menu="matMenu" [backdropClass]="backdropClass" [class]="menuClass">
  <ng-container *ngFor="let item of items">
    <ng-container *ngIf="item.section else simpleItem">
      <button
          mat-menu-item
          type="button"
          [matMenuTriggerFor]="subMenu">
        {{ item.section }}
      </button>
      <mat-menu #subMenu="matMenu">
        <ng-container *ngFor="let subItem of item.items">
          <ng-template
            [ngTemplateOutlet]="itemTpl"
            [ngTemplateOutletContext]="{ $implicit: subItem }">
          </ng-template>
        </ng-container>
      </mat-menu>
    </ng-container>

    <ng-template #simpleItem>
      <ng-template
        [ngTemplateOutlet]="itemTpl"
        [ngTemplateOutletContext]="{ $implicit: item }">
      </ng-template>
    </ng-template>
  </ng-container>
</mat-menu>


<ng-template let-item #itemTpl>
  <fs-field-toolbar-item
    [menuTrigger]="trigger"
    [item]="item">
  </fs-field-toolbar-item>
</ng-template>
