<div class="mat-elevation-z2 toolbar">
  <!--<div class="horizontal-collapse" [ngClass]="{ 'first-item-section': firstItemIsSection }">
    <button mat-icon-button type="button" (click)="toggleCollapse()">
      <mat-icon>
        {{ expanded ? 'keyboard_arrow_right' : 'keyboard_arrow_left' }}
        keyboard_arrow_right
      </mat-icon>
    </button>
  </div>-->
  <div class="fields-list" [ngClass]="{ 'minimized': !expanded }">
    <ng-container *ngFor="let item of items">
      <ng-container *ngIf="item.section else simpleItem">
        <fs-field-toolbar-section
          [sectionItem]="item"
          [fieldEditor]="fieldEditor">
        </fs-field-toolbar-section>
      </ng-container>

      <ng-template #simpleItem>
        <fs-field-toolbar-item
          [item]="item"
          [fieldEditor]="fieldEditor">
        </fs-field-toolbar-item>
      </ng-template>
    </ng-container>
  </div>
</div>
