<ng-container [ngSwitch]="field.config.configs.type">
  <ng-container *ngSwitchCase="1">
    <h1>{{field.config.label}}</h1>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <h2>{{field.config.label}}</h2>
  </ng-container>
  <ng-container *ngSwitchCase="3">
    <h3>{{field.config.label}}</h3>
  </ng-container>
  <ng-container *ngSwitchCase="4">
    <h4>{{field.config.label}}</h4>
  </ng-container>
  <ng-container *ngSwitchCase="5">
    <h5>{{field.config.label}}</h5>
  </ng-container>
</ng-container>



