<div *ngIf="fieldEditor.selectedField===field; else selectedElse"></div>

<ng-template #selectedElse>
  <mat-form-field floatLabel="never" *ngIf="field.config.type===fieldEditor.fieldType.ShortText">
    <input matInput [placeholder]="field.config.label" [(ngModel)]="field.data.value">
  </mat-form-field>

  <mat-form-field floatLabel="never" *ngIf="field.config.type===fieldEditor.fieldType.LongText">
    <textarea matInput matTextareaAutosize matAutosizeMinRows="1" [(ngModel)]="field.data.value" [placeholder]="field.config.label">
      </textarea>
  </mat-form-field>

  <ng-container *ngIf="field.config.type===fieldEditor.fieldType.RichText">
    <fs-editor-rich-text [(ngModel)]="field.data.value" [options]="options"></fs-editor-rich-text>
  </ng-container>

  <mat-form-field floatLabel="never" *ngIf="field.config.type===fieldEditor.fieldType.Date">
    <input matInput [placeholder]="field.config.label" fsDatePicker [(ngModel)]="field.data.value">
  </mat-form-field>

  <mat-form-field floatLabel="never" *ngIf="field.config.type===fieldEditor.fieldType.Time">
    <input matInput fsDatePicker view="time" [placeholder]="field.config.label" [(ngModel)]="field.data.value">
  </mat-form-field>

  <mat-form-field floatLabel="never" *ngIf="field.config.type===fieldEditor.fieldType.Phone">
    <input matInput fsPhone [placeholder]="field.config.label" [(ngModel)]="field.data.value">
  </mat-form-field>

  <mat-form-field floatLabel="never" *ngIf="field.config.type===fieldEditor.fieldType.Email">
    <input matInput fsFormEmail [placeholder]="field.config.label" [(ngModel)]="field.data.value">
  </mat-form-field>
</ng-template>