<fs-radio-group
    #radiobuttons
    [(ngModel)]="field.data.value.selected"
    (ngModelChange)="radioChange()"
    [label]="field.config.label"
    [name]="'choices' + name"
    [fsFormFunction]="validate"
    [attr.validation-required]="this.field.config.configs.required"
    [disabled]="disabled"
    messageSelector=".fs-form-message"
    orientation="vertical">
  <mat-radio-button
    *ngFor="let item of field.config.configs.options"
    [disabled]="disabled"
    [value]="item.value">
      {{ item.name }}
  </mat-radio-button>
  <mat-radio-button
    *ngIf="field.config.configs.other"
    value="other"
    [name]="'otherChoice' + name"
    [disabled]="disabled"
    class="other choice">
    <mat-form-field floatLabel="never" class="subscript-remove">
      <input
        matInput
        placeholder="Other"
        (click)="otherInputClick()"
        (ngModelChange)="changed.emit(field)"
        [(ngModel)]="field.data.value.other"
        [name]="'otherInput' + name"
        [disabled]="disabled">
    </mat-form-field>
  </mat-radio-button>
  <mat-hint>{{field.config.description}}</mat-hint>
</fs-radio-group>
