:host ::ng-deep {

  .mat-radio-button {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    .mat-radio-label {
      width: 100%;

      .mat-radio-label-content {
        width: 100%;
      }
    }
  }

  fs-label-field {
    position: relative;
  }

  [validation-required='true'] .fs-form-label:after {
    content: ' *';
    display: contents;
  }

  .other {
    max-width: 100%;

    mat-form-field {
      width: 100%;
      margin-top: -3px;
    }

    .mat-form-field-infix {
      border-top: 0;
    }

    &.choice {


      mat-form-field {
        margin-top: -3px;
      }
    }
  }
}

.other {
  .stub {
    visibility: hidden;
    width: 0px;
  }
}
