mat-checkbox {
  margin-right: 10px;
  width: 100%;
}

:host ::ng-deep {

  .mat-radio-button {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    .mat-radio-label {
      width: 100%;

      .mat-radio-label-content {
        width: 100%;
      }
    }
  }

  .mat-checkbox {

    .mat-checkbox-layout {
      width: 100%;

      .mat-checkbox-label {
        width: 100%;
      }
    }
  }

  fs-label-field {
    position: relative;
  }

  .other {

    mat-form-field {
      width: 100%;
      max-width: 400px;
      margin-top: -3px;
    }

    .mat-form-field-infix {
      border-top: 0;
    }

    &.checkbox {

      mat-form-field {
        margin-top: -1px;
      }

      .mat-checkbox-inner-container {
        margin-top: 6px;
      }

      mat-checkbox {
        margin-right: 0px;
      }
    }

    &.choice {


      mat-form-field {
        margin-top: -3px;
      }
    }
  }
}

.other {
  .stub {
    visibility: hidden;
    width: 0px;
  }
}