<ng-container [ngSwitch]="field.config.type">
  <ng-container *ngSwitchCase="fieldType.Dropdown">
    <mat-form-field class="subscript-multiline">
      <mat-select [placeholder]="field.config.label" [(ngModel)]="field.data.value" [required]="field.config.configs.required===true" name="{{name}}_dropdown">
        <mat-option *ngFor="let option of field.config.configs.options" [value]="option.value">
          {{option.name}}
        </mat-option>
      </mat-select>
      <mat-hint>{{field.config.description}}</mat-hint>
    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="fieldType.Choice">
    <div class="field-wrapper">
      <fs-label>{{field.config.label}}</fs-label>
      <mat-radio-group
        [(ngModel)]="field.data.value.selected"
        messageSelector=".field-message"
        wrapperSelector=".field-wrapper"
        labelSelector="false"
        fxLayout="column"
        name="{{name}}_choice"
        [required]="field.config.configs.required===true">
        <mat-radio-button *ngFor="let option of field.config.configs.options; index as idx"
                          [value]="option.value"
                          (click)="otherSelected(field,false)">{{option.name}}</mat-radio-button>

          <mat-radio-button
            [value]="true"
            [checked]="field.data.value.other.selected"
            *ngIf="field.config.configs.other"
            class="other choice">
            <mat-form-field floatLabel="never" class="subscript-remove">
              <input matInput placeholder="Other" [(ngModel)]="field.data.value.other.value" name="other" (click)="otherSelected(field,true)">
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>
        <div class="fs-form-message field-message">
          {{field.config.description}}
        </div>
      </div>
  </ng-container>
</ng-container>