mat-checkbox {
  margin-right: 10px;
}


.view-field {
  .mat-radio-button {
    margin-bottom: 5px;
  }
}

:host ::ng-deep {
  .other {

    mat-form-field {
      width: 100%;
      max-width: 400px;
    }

    &.checkbox {

      mat-form-field {
        margin-top: -1px;

        .mat-form-field-infix {
          border-top: 0;
        }
      }

      mat-checkbox {
        margin-right: 0px;
      }
    }

    &.choice {

      mat-form-field {
        margin-top: -3px;

        .mat-form-field-infix {
          border-top: 0;
        }
      }
    }
  }
}

.other {
  .stub {
    visibility: hidden;
    width: 0px;
  }
}