<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
  <fs-label-field>
    <fs-label>
      {{ field.config.label }}
    </fs-label>
    <div fxLayout="column">
      <mat-checkbox
        [name]="name"
        [(ngModel)]="field.data.value"
        (ngModelChange)="changed.emit(field)">
        {{ field.config.configs.termsLabel }}
      </mat-checkbox>
    </div>
    <div fxLayout="column" *ngIf="field.config.configs.termsContentSource==='url'">
      <a [href]="field.config.configs.termsContentUrl" target="_blank">
        {{field.config.configs.termsContentLabel}}
      </a>
    </div>
  </fs-label-field>
</div>
