:host {
  ::ng-deep {
    button.disabled {
      mat-icon,
      .mat-button-wrapper {
        color: #ccc;
      }
    }
  }
}

.label,
.description {
  width: 100%;
}

.require-button {
  line-height: normal;
  svg {
    fill: #f44336;
    height: 18px;
    width: 18px;
  }

  &.disabled svg {
    fill: #ccc;
  }
}
