<div *ngIf="fieldEditor.selectedField===field; else selectedElse">
  <div fxFlexLayout="row" fxLayoutAlign="start center">
    <div fxFlex>
      <mat-form-field floatLabel="never" class="label">
        <input
          matInput
          placeholder="Label"
          [(ngModel)]="field.config.label"
          name="label"
          [ngModelOptions]="{ updateOn: 'blur' }"
          (ngModelChange)="changed.emit(field)">
      </mat-form-field>
    </div>
    <button *ngIf="showRequired"
      mat-icon-button
      type="button"
      (click)="toggleRequired()"
      matTooltip="Require Response"
      [ngClass]="{ disabled: !field.config.configs.required }">
      <mat-icon>check_box</mat-icon>
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="copy($event)"
      matTooltip="Duplicate">
      <mat-icon>filter_none</mat-icon>
    </button>
    <button
      *ngIf="showDescription"
      mat-icon-button
      type="button"
      (click)="toggleDescriptionNote()"
      matTooltip="Description"
      [ngClass]="{ disabled: !field.config.hasDescriptionNote }">
      <mat-icon>subject</mat-icon>
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="delete($event)"
      matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>
    <button
      mat-icon-button
      type="button"
      (click)="close($event)"
      matTooltip="Collapse">
      <mat-icon>unfold_less</mat-icon>
    </button>
  </div>

  <mat-form-field floatLabel="never" *ngIf="field.config.hasDescriptionNote" class="description">
    <textarea
      matInput
      placeholder="Description"
      [matTextareaAutosize]="true"
      [(ngModel)]="field.config.description"
      name="description"
      [ngModelOptions]="{ updateOn: 'blur' }"
      (ngModelChange)="changed.emit(field)">
    </textarea>
  </mat-form-field>
</div>

<ng-template #selectedElse>
  <div class="view">
    <div class="label">{{field.config.label}}</div>
    <div class="description">{{field.config.description}}</div>
  </div>
</ng-template>
