<mat-tab-group>

  <mat-tab label="Fields Editor">

        <fs-field-editor
          #fieldEditor
          [config]="config"
          (fieldChanged)="changed($event)"
          (fieldAdd)="add($event)"
          (fieldAdded)="added($event)"
          (fieldMoved)="moved($event)"
          (fieldDuplicate)="duplicate($event)"
          (fieldDuplicated)="duplicated($event)"
          (fieldSelected)="selected($event)"
          (fieldUnselected)="unselected($event)">
          <ng-template fsFieldRender type="share" let-field="field">
            <img src="/assets/google-logo.svg" height="50" *ngIf="field.config.configs['google']">
            <img src="/assets/facebook-logo.svg" height="50" *ngIf="field.config.configs['facebook']">
          </ng-template>

          <ng-template fsFieldConfig type="share" let-field="field">
            <div fxLayout="column">
              <mat-checkbox [(ngModel)]="field.config.configs['facebook']" name="facebook" (click)="shareChange({ field: field })">Enable Facebook</mat-checkbox>
              <mat-checkbox [(ngModel)]="field.config.configs['google']" name="google" (click)="shareChange({ field: field })">Enable Google</mat-checkbox>
            </div>
          </ng-template>

        </fs-field-editor>
    </mat-tab>

    <mat-tab label="Rendered Fields">
        <div class="padding">

          <form (fsForm)="save()">
           <fs-field-renderer [config]="config">
              <ng-template fsFieldRender type="share" let-field="field">
                <img src="/assets/google-logo.svg" height="50" *ngIf="field.config['google']">
                <img src="/assets/facebook-logo.svg" height="50" *ngIf="field.config['facebook']">
              </ng-template>
            </fs-field-renderer>

            <button mat-raised-button color="primary" type="submit">Save</button>
          </form>
        </div>
    </mat-tab>
    <mat-tab label="View Fields">
      <ng-template matTabContent>
        <p class="padding">
          <fs-field-viewer [config]="config">
          </fs-field-viewer>
        </p>
      </ng-template>
    </mat-tab>
    <mat-tab label="Config">
      <ng-template matTabContent>
        <pre *ngIf="config">
          {{config|json}}
        </pre>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

