<div class="options">
  <fs-label-field>
    <fs-label>Allow Multiple</fs-label>
    <mat-checkbox color="primary" [(ngModel)]="field.config.configs.allowMultiple" (click)="changed.emit(field)"></mat-checkbox>
  </fs-label-field>

  <fs-label-field>
    <fs-label>Allow file types</fs-label>
    <div fxFlexLayout="column" fxLayoutGap="20px">
      <mat-checkbox color="primary" [(ngModel)]="field.config.configs.allowedFileTypes.image" (click)="changed.emit(field)">Image</mat-checkbox>
      <mat-checkbox color="primary" [(ngModel)]="field.config.configs.allowedFileTypes.video" (click)="changed.emit(field)">Video</mat-checkbox>
      <mat-checkbox color="primary" [(ngModel)]="field.config.configs.allowedFileTypes.pdf" (click)="changed.emit(field)">PDF</mat-checkbox>
    </div>
  </fs-label-field>

  <div *ngIf="field.config.configs.allowedFileTypes.image"
       fxFlexLayout="column"
       fxLayoutGap="20px">
    <mat-form-field fxFlex>
      <input
        matInput
        placeholder="Max Width"
        [(ngModel)]="field.config.configs.maxWidth"
        name="maxWidth"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="changed.emit(field)">
    </mat-form-field>

    <mat-form-field fxFlex>
      <input
        matInput
        placeholder="Max Height"
        [(ngModel)]="field.config.configs.maxHeight"
        name="maxHeight"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="changed.emit(field)">
    </mat-form-field>

    <mat-form-field fxFlex>
      <input
        matInput
        placeholder="Image Quality"
        [(ngModel)]="field.config.configs.imageQuality"
        name="imageQuality"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="changed.emit(field)">
    </mat-form-field>
  </div>
</div>
