<div class="toolbar">
  <mat-card>
    <mat-card-content>
      <div *ngFor="let item of items">
        <div cdkDropList [cdkDropListConnectedTo]="['fieldList']">
          <div cdkDrag [cdkDragData]="field" (cdkDragStarted)="createElement(item)">
            <div fxFlexLayout="row" class="item-preview" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-icon>{{ item.icon }}</mat-icon><span>{{ item.label }}</span>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>