<div class="field-container" [ngClass]="['field-' + field.config.type]">
  <div class="field-drag" cdkDragHandle>
    <button mat-icon-button type="button" class="drag-button field-drag-button">
      <mat-icon>drag_indicator</mat-icon>
    </button>
  </div>

  <fs-field-header
    *ngIf="isSelectedField"
    [field]="field"
    (changed)="fieldEditor.fieldChanged($event)"
    [showRequired]="showRequired"
    [showDescription]="showDescription">
  </fs-field-header>

  <ng-container *ngIf="isSelectedField; else renderField">
    <ng-container *ngIf="fieldConfigTemplateRef; else configStandardField">
      <ng-template
        *ngTemplateOutlet="fieldConfigTemplateRef; context: { field: field, fieldEditor: fieldEditor }">
      </ng-template>
    </ng-container>

    <ng-template #configStandardField>
      <ng-container [ngSwitch]="field.config.type">

        <ng-container *ngSwitchCase="fieldType.Choice">
          <fs-field-config-options [field]="field"
                                   (changed)="fieldEditor.fieldChanged($event)">
          </fs-field-config-options>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Dropdown">
          <fs-field-config-options [field]="field"
                                   (changed)="fieldEditor.fieldChanged($event)">
          </fs-field-config-options>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Checkbox">
          <fs-field-config-options [field]="field"
                                   (changed)="fieldEditor.fieldChanged($event)">
          </fs-field-config-options>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Name">
          <fs-field-config-name [field]="field"
                                (changed)="fieldEditor.fieldChanged($event)">
          </fs-field-config-name>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.File">
          <fs-field-config-file [field]="field"
                                (changed)="fieldEditor.fieldChanged($event)">
          </fs-field-config-file>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Gender">
          <fs-field-config-gender [field]="field"
                                  (changed)="fieldEditor.fieldChanged($event)">
          </fs-field-config-gender>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Heading">
          <fs-field-config-heading [field]="field"
                                   (changed)="fieldEditor.fieldChanged($event)">
          </fs-field-config-heading>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Content">
          <fs-field-config-content [field]="field"
                                   (changed)="fieldEditor.fieldChanged($event)">
          </fs-field-config-content>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Address">
          <fs-field-config-address [field]="field"
                                   (changed)="fieldEditor.fieldChanged($event)">
          </fs-field-config-address>
        </ng-container>
      </ng-container>
    </ng-template>
  </ng-container>

  <ng-template #renderField>
    <ng-container *ngIf="fieldRenderTemplateRef; else renderStandardField">
      <ng-template
        *ngTemplateOutlet="fieldRenderTemplateRef; context: {field: field, fieldEditor: fieldEditor}">
      </ng-template>
    </ng-container>

    <ng-template #renderStandardField>
      <ng-container [ngSwitch]="field.config.type">
        <ng-container *ngSwitchCase="fieldType.ShortText">
          <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.LongText">
          <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Phone">
          <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Email">
          <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Date">
          <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Time">
          <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Choice">
          <fs-field-render-choice [field]="field"></fs-field-render-choice>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Dropdown">
          <fs-field-render-dropdown [field]="field"></fs-field-render-dropdown>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Checkbox">
          <fs-field-render-checkbox [field]="field"></fs-field-render-checkbox>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Name">
          <fs-field-render-name [field]="field"></fs-field-render-name>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.File">
          <fs-field-render-file [field]="field"></fs-field-render-file>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Gender">
          <fs-field-render-gender [field]="field"></fs-field-render-gender>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Heading">
          <fs-field-render-heading [field]="field"></fs-field-render-heading>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Content">
          <fs-field-render-content [field]="field"></fs-field-render-content>
        </ng-container>

        <ng-container *ngSwitchCase="fieldType.Address">
          <fs-field-render-address [field]="field"></fs-field-render-address>
        </ng-container>

        <ng-template #fsFieldText>
          <fs-field-render-text [field]="field"></fs-field-render-text>
        </ng-template>
      </ng-container>

    </ng-template>
  </ng-template>
</div>
