<fs-label-field class="field-wrapper">
  <fs-label>{{field.config.label}}</fs-label>
  <fs-field-render-checkboxes
    [(ngModel)]="checkboxSelected"
    name="checkboxes"
    messageSelector=".field-message"
    wrapperSelector=".field-wrapper"
    [labelSelector]="false"
    [required]="field.config.configs.required===true"
    [field]="field">
  </fs-field-render-checkboxes>
  <fs-label-message class="fs-form-message field-message">
    <div class="fs-form-hint">{{field.config.description}}</div>
  </fs-label-message>
</fs-label-field>
