<div class="options">
  <div fxFlexLayout="row" fxLayoutAlign="start center">
    <mat-checkbox color="primary" [(ngModel)]="field.config.configs.firstName.display" (ngModelChange)="changed.emit(field)"></mat-checkbox>

    <mat-form-field floatLabel="never" fxFlex>
      <input
        matInput
        placeholder="Label"
        [(ngModel)]="field.config.configs.firstName.label"
        [disabled]="!field.config.configs.firstName.display"
        name="firstName"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="changed.emit(field)">
    </mat-form-field>
  </div>

  <div fxFlexLayout="row" fxLayoutAlign="start center">
    <mat-checkbox color="primary" [(ngModel)]="field.config.configs.lastName.display" (ngModelChange)="changed.emit(field)"></mat-checkbox>

    <mat-form-field floatLabel="never" fxFlex>
      <input
        matInput
        placeholder="Label"
        [(ngModel)]="field.config.configs.lastName.label"
        [disabled]="!field.config.configs.lastName.display"
        name="lastName"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="changed.emit(field)">
    </mat-form-field>
  </div>
</div>
