<div class="options">
  <div fxFlexLayout="row" fxLayoutAlign="start center">
    <mat-checkbox color="primary" [(ngModel)]="field.config.configs.first_name.display" (ngModelChange)="changed()"></mat-checkbox>

    <mat-form-field floatLabel="never" fxFlex>
      <input
        matInput
        placeholder="Label"
        [(ngModel)]="field.config.configs.first_name.label"
        [disabled]="!field.config.configs.first_name.display"
        name="first_name"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="changed($event)">
    </mat-form-field>
  </div>

  <div fxFlexLayout="row" fxLayoutAlign="start center">
    <mat-checkbox color="primary" [(ngModel)]="field.config.configs.last_name.display" (ngModelChange)="changed()"></mat-checkbox>

    <mat-form-field floatLabel="never" fxFlex>
      <input
        matInput
        placeholder="Label"
        [(ngModel)]="field.config.configs.last_name.label"
        [disabled]="!field.config.configs.last_name.display"
        name="last_name"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="changed($event)">
    </mat-form-field>
  </div>
</div>
