

fs-address {
  max-width: 100%;
  display: block;

  ::ng-deep {
    fs-address-region,
    .mat-form-field {
      padding: 0 !important;
    }

    .city-region-zip-country {
      flex-direction: column !important;
    }
  }
}
