<div class="field-container" [ngClass]="['field-' + field.config.type]">

  <ng-container *ngIf="fieldRenderTemplateRefs[field.config.type]; else standardField">
    <ng-template *ngTemplateOutlet="fieldRenderTemplateRefs[field.config.type]; context: { field: field }"></ng-template>
  </ng-container>

  <ng-template #standardField>

    <ng-container [ngSwitch]="field.config.type">
      <ng-container *ngSwitchCase="fieldType.ShortText">
        <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.LongText">
        <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Phone">
        <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Email">
        <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Date">
        <fs-field-render-date [field]="field" (changed)="fieldEditor.fieldChanged($event)"></fs-field-render-date>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Time">
        <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Choice">
        <fs-field-render-choice [field]="field" (changed)="fieldEditor.fieldChanged($event)"></fs-field-render-choice>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Dropdown">
        <fs-field-render-dropdown [field]="field" (changed)="fieldEditor.fieldChanged($event)"></fs-field-render-dropdown>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Checkbox">
        <fs-field-render-checkbox [field]="field" (changed)="fieldEditor.fieldChanged($event)"></fs-field-render-checkbox>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Name">
        <fs-field-render-name [field]="field" (changed)="fieldEditor.fieldChanged($event)"></fs-field-render-name>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Heading">
        <fs-field-render-heading [field]="field"></fs-field-render-heading>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.File">
        <fs-field-render-file [field]="field"></fs-field-render-file>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Gender">
        <fs-field-render-gender [field]="field" (changed)="fieldEditor.fieldChanged($event)"></fs-field-render-gender>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Address">
        <fs-field-render-address [field]="field" (changed)="fieldEditor.fieldChanged($event)"></fs-field-render-address>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Content">
        <fs-field-render-content [field]="field"></fs-field-render-content>
      </ng-container>

      <ng-template #fsFieldText>
        <fs-field-render-text [field]="field" (changed)="fieldEditor.fieldChanged($event)"></fs-field-render-text>
      </ng-template>
    </ng-container>

  </ng-template>
</div>
