<div class="field-container" [ngClass]="['field-' + field.config.type]">
    <ng-container [ngSwitch]="field.config.type">
      <ng-container *ngSwitchCase="fieldType.ShortText">
        <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.LongText">
        <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Phone">
        <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Email">
        <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Date">
        <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Time">
        <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Choice">
        <ng-container *ngTemplateOutlet="fsFieldOptions"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Dropdown">
        <ng-container *ngTemplateOutlet="fsFieldOptions"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Checkbox">
        <fs-field-render-checkbox [field]="field"></fs-field-render-checkbox>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Name">
        <fs-field-render-name [field]="field"></fs-field-render-name>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Heading">
        <fs-field-render-heading [field]="field"></fs-field-render-heading>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.File">
        <fs-field-render-file [field]="field" [config]="config"></fs-field-render-file>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.RichText">
        <fs-field-render-rich-text [field]="field" [config]="config"></fs-field-render-rich-text>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Gender">
        <fs-field-render-gender [field]="field"></fs-field-render-gender>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Address">
        <fs-field-render-address [field]="field"></fs-field-render-address>
      </ng-container>

      <ng-container *ngSwitchCase="fieldType.Content">
        <fs-field-render-content [field]="field"></fs-field-render-content>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <ng-template *ngTemplateOutlet="fieldRenderTemplateRefs[field.config.type]; context: {field: field}"></ng-template>
      </ng-container>

      <ng-template #fsFieldText>
        <fs-field-render-text [field]="field"></fs-field-render-text>
      </ng-template>

      <ng-template #fsFieldOptions>
        <fs-field-render-options [field]="field"></fs-field-render-options>
      </ng-template>
    </ng-container>
  </div>
