<div *ngIf="fieldEditor.selectedField===field; else selectedElse">
  <div fxFlexLayout="row" fxLayoutAlign="start center">
    <div fxFlex>
      <mat-form-field floatLabel="never" class="label">
        <input matInput placeholder="Label" [(ngModel)]="field.config.label" name="label" [ngModelOptions]="{ updateOn: 'blur' }" (ngModelChange)="changed($event)">
      </mat-form-field>
    </div>
    <button *ngIf="showRequired"
      button mat-icon-button
      (click)="toggleRequired()"
      matTooltip="Require Response"
      [ngClass]="{ disabled: !field.config.configs.required }">
      <mat-icon>check_box</mat-icon>
    </button>
    <button
      button mat-icon-button
      (click)="copy($event)"
      matTooltip="Duplicate">
      <mat-icon>filter_none</mat-icon>
    </button>
    <button
      button mat-icon-button
      (click)="toggleDescription()"
      matTooltip="Description"
      [ngClass]="{ disabled: !field.config.hasDescription }">
      <mat-icon>subject</mat-icon>
    </button>
    <button
      button
      mat-icon-button
      (click)="delete($event)"
      matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>
    <button
      button
      mat-icon-button
      (click)="close($event)"
      matTooltip="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-form-field floatLabel="never" *ngIf="field.config.hasDescription" class="description">
    <textarea matInput placeholder="Description" [matTextareaAutosize]="true" [(ngModel)]="field.config.description" name="description" [ngModelOptions]="{ updateOn: 'blur' }" (ngModelChange)="changed($event)"></textarea>
  </mat-form-field>
</div>
<ng-template #selectedElse>
  <div class="view">
    <div class="label">{{field.config.label}}</div>
    <div class="description">{{field.config.description}}</div>
  </div>
</ng-template>