
<fs-label-field>
  <fs-label>{{field.config.label}}</fs-label>
    <fs-file
      (select)="selectFile($event)"
      [imageQuality]="field.config.configs.image_quality"
      [imageWidth]="field.config.configs.max_width"
      [imageHeight]="field.config.configs.max_height"
      [accept]="allowedTypes"
      [multiple]="field.config.configs.allow_multiple">
    <button mat-raised-button type="button" color="primary">Select File</button>
  </fs-file>

  <div class="files-preview">
    <fs-gallery [config]="galleryConfig"></fs-gallery>
  </div>
</fs-label-field>