
<fs-label-field>
  <fs-label>{{field.config.label}}</fs-label>
    <fs-file
      (select)="selectFile($event)"
      [imageQuality]="field.config.configs.imageQuality"
      [imageWidth]="field.config.configs.maxWidth"
      [imageHeight]="field.config.configs.maxHeight"
      [accept]="allowedTypes"
      [multiple]="field.config.configs.allowMultiple">
    <button mat-raised-button type="button" color="default">
      <mat-icon>file_upload</mat-icon>
      Select File
    </button>
  </fs-file>
  <fs-label-message class="fs-form-message" *ngIf="field.config.description">
    <div class="fs-form-hint">{{ field.config.description }}</div>
  </fs-label-message>
</fs-label-field>

<div class="files-preview" [hidden]="!field.data?.value?.length">
  <fs-gallery [config]="galleryConfig"></fs-gallery>
</div>
