
<ng-container [ngSwitch]="mode">
  <ng-container *ngSwitchCase="fieldMode.Edit">
    <div cdkDropList class="options" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let option of field.config.options; index as idx" cdkDrag cdkDragLockAxis="y" class="fs-field-option">

        <div fxFlexLayout="row" fxLayoutAlign="start center" class="option-container">

          <div class="option-drag" cdkDragHandle>
            <button button mat-icon-button class="drag-button option-drag-button"><mat-icon>drag_indicator</mat-icon></button>
          </div>

          <ng-container [ngSwitch]="field.config.type">
            <mat-checkbox *ngSwitchCase="fieldType.Checkbox" disabled="true"></mat-checkbox>
            <mat-radio-button *ngSwitchCase="fieldType.Choice" disabled="true"></mat-radio-button>
          </ng-container>

          <mat-form-field floatLabel="never" class="option-label" fxFlex>
            <input matInput placeholder="Label" [(ngModel)]="option.name" name="label">
          </mat-form-field>

          <button button mat-icon-button (click)="removeOption(idx)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
    </div>

    <div *ngIf="field.config.other" fxFlexLayout="row" fxLayoutAlign="start center">
      <button button mat-icon-button [ngStyle]="{'visibility': 'hidden'}"><mat-icon>drag_indicator</mat-icon></button>

      <ng-container [ngSwitch]="field.config.type">
        <mat-checkbox *ngSwitchCase="fieldType.Checkbox" disabled="true"></mat-checkbox>
        <mat-radio-button *ngSwitchCase="fieldType.Choice" disabled="true"></mat-radio-button>
      </ng-container>

      <mat-form-field floatLabel="never" class="option-label" fxFlex>
        <input matInput placeholder="Label" disabled="true" name="label" value="Other">
      </mat-form-field>

      <button button mat-icon-button (click)="field.config.other = false"><mat-icon>delete</mat-icon></button>
    </div>

    <div>
      <div fxFlexLayout="row" fxLayoutAlign="start center">
        <button button mat-icon-button *ngIf="field.config.options.length"><mat-icon></mat-icon></button>
        <mat-checkbox disabled="true" style="visibility: hidden" *ngIf="(field.config.type===fieldType.Checkbox || field.config.type===fieldType.Choice) && field.config.options.length"></mat-checkbox>

        <mat-form-field floatLabel="never" class="new-option" fxFlex>
          <input matInput #addOptionInput placeholder="Add New Option" [(ngModel)]="newOption" name="newOption" (keydown.tab)="addOption()" (keyup.enter)="addOption()">
        </mat-form-field>
        <ng-container *ngIf="(field.config.type === fieldType.Checkbox || field.config.type === fieldType.Choice) && field.config.options.length">
          <span class="or">OR</span> <button mat-button color="primary" (click)="field.config.other = !field.config.other">{{ field.config.other ? 'Remove' : 'Add' }} "Other" Option</button>
        </ng-container>

        <button button mat-icon-button style="visibility: hidden"><mat-icon>delete</mat-icon></button>
      </div>
    </div>

  </ng-container>
  <ng-container *ngSwitchCase="fieldMode.Render">
    <div class="view-field">
        <ng-container [ngSwitch]="field.config.type">
          <div *ngSwitchCase="fieldType.Dropdown">
            <mat-form-field>
              <mat-select [placeholder]="field.config.label" [(value)]="field.data.value">
                <mat-option *ngFor="let option of field.config.options" [value]="option.value">
                  {{option.name}}
                </mat-option>
                <mat-hint>{{field.config.description}}</mat-hint>
              </mat-select>
            </mat-form-field>
          </div>
          <ng-container *ngSwitchCase="fieldType.Checkbox">
            <fs-label-field>
              <fs-label>{{field.config.label}}</fs-label>
              <div fxLayout="column">
                <mat-checkbox *ngFor="let option of field.config.options; index as idx"
                              (change)="handleCheckbox($event, option)"
                              [checked]="field.data.value && field.data.value.indexOf(option.value) !== -1">{{option.name}}</mat-checkbox>
                <mat-checkbox *ngIf="field.config.other" [checked]="field.data.other" (click)="field.data.other=''">
                  <mat-form-field floatLabel="never">
                    <input matInput placeholder="Other" [(ngModel)]="field.data.other">
                  </mat-form-field>
                </mat-checkbox>
              </div>
            </fs-label-field>
          </ng-container>
          <ng-container *ngSwitchCase="fieldType.Choice">
            <fs-label-field>
                <fs-label>{{field.config.label}}</fs-label>
                <mat-radio-group [(ngModel)]="field.data.value" fxLayout="column">
                  <mat-radio-button *ngFor="let option of field.config.options; index as idx"
                                    [value]="option.value"
                                    (click)="field.data.other=''">{{option.name}}</mat-radio-button>
                  <mat-radio-button value="other" *ngIf="field.config.other" [checked]="field.data.other">
                    <mat-form-field floatLabel="never">
                      <input matInput placeholder="Other" [(ngModel)]="field.data.other">
                    </mat-form-field>
                  </mat-radio-button>
                </mat-radio-group>
              </fs-label-field>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>