
<div *ngIf="selected; else selectedElse">

  <div cdkDropList class="options" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let option of field.field_options; index as idx" cdkDrag cdkDragLockAxis="y" class="fs-field-option">

      <div fxFlexLayout="row" fxLayoutAlign="start center" class="option-container">

        <div class="option-drag" cdkDragHandle>
          <button button mat-icon-button class="drag-button option-drag-button"><mat-icon>drag_indicator</mat-icon></button>
        </div>

        <ng-container [ngSwitch]="field.type">
          <mat-checkbox *ngSwitchCase="fieldType.Checkbox" disabled="true"></mat-checkbox>
          <mat-radio-button *ngSwitchCase="fieldType.Choice" disabled="true"></mat-radio-button>
        </ng-container>

        <mat-form-field floatLabel="never" class="option-label" fxFlex>
          <input matInput placeholder="Label" [(ngModel)]="option.label" name="label">
        </mat-form-field>

        <button button mat-icon-button (click)="removeOption(idx)"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>

  <div *ngIf="field.other" fxFlexLayout="row" fxLayoutAlign="start center">
    <button button mat-icon-button [ngStyle]="{'visibility': 'hidden'}"><mat-icon>drag_indicator</mat-icon></button>

    <ng-container [ngSwitch]="field.type">
      <mat-checkbox *ngSwitchCase="fieldType.Checkbox" disabled="true"></mat-checkbox>
      <mat-radio-button *ngSwitchCase="fieldType.Choice" disabled="true"></mat-radio-button>
    </ng-container>

    <mat-form-field floatLabel="never" class="option-label" fxFlex>
      <input matInput placeholder="Label" disabled="true" name="label" value="Other">
    </mat-form-field>

    <button button mat-icon-button (click)="field.other = false"><mat-icon>delete</mat-icon></button>
  </div>

  <div>

    <div fxFlexLayout="row" fxLayoutAlign="start center">

      <button button mat-icon-button *ngIf="field.field_options.length"><mat-icon></mat-icon></button>
      <mat-checkbox disabled="true" style="visibility: hidden" *ngIf="(field.type===fieldType.Checkbox || field.type===fieldType.Choice) && field.field_options.length"></mat-checkbox>

      <mat-form-field floatLabel="never" class="new-option" fxFlex>
        <input matInput placeholder="Add New Option" [(ngModel)]="newOption" name="newOption" (keydown.tab)="addOption()" (keyup.enter)="addOption()">
      </mat-form-field>
      <ng-container *ngIf="(field.type===fieldType.Checkbox || field.type===fieldType.Choice) && field.field_options.length">
        <span class="or">OR</span> <button mat-button color="primary" (click)="field.other = !field.other">{{ field.other ? 'Remove' : 'Add' }} "Other" Option</button>
      </ng-container>

      <button button mat-icon-button style="visibility: hidden"><mat-icon>delete</mat-icon></button>

    </div>
  </div>
</div>
<ng-template #selectedElse>
  <div class="view-field">
    <ng-container [ngSwitch]="field.type">
      <div *ngSwitchCase="fieldType.Dropdown">
        <mat-form-field>
          <mat-select [placeholder]="field.label" [(value)]="field.field_options[0]">
            <mat-option *ngFor="let option of field.field_options" [value]="option">
              {{option.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <ng-container *ngSwitchCase="fieldType.Checkbox">
        <div fxFlexLayout="column">
          <div *ngFor="let option of field.field_options; index as idx">
            <mat-checkbox>{{option.label}}</mat-checkbox>
          </div>
          <mat-form-field floatLabel="never" *ngIf="field.other">
            <input matInput placeholder="Other">
          </mat-form-field>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="fieldType.Choice">
        <div fxFlexLayout="column">
          <div *ngFor="let option of field.field_options; index as idx">
            <mat-radio-button>{{option.label}}</mat-radio-button>
          </div>
          <mat-form-field floatLabel="never" *ngIf="field.other">
            <input matInput placeholder="Other">
          </mat-form-field>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-template>