<div class="fs-form-wrapper" fxFlexLayout="row" fxLayoutGap="10px">
  <mat-form-field class="subscript-remove" *ngIf="field.config.configs.first_name?.display">
    <input
      matInput
      [name]="name + '_first_name'"
      (ngModelChange)="change($event,'first_name')"
      [(ngModel)]="field.data.value.first_name"
      [placeholder]="field.config.configs.first_name.label">
  </mat-form-field>
  <mat-form-field class="subscript-remove" *ngIf="field.config.configs.last_name?.display">
    <input
      matInput
      [name]="name + '_last_name'"
      (ngModelChange)="change($event,'last_name')"
      [(ngModel)]="field.data.value.last_name"
      [placeholder]="field.config.configs.last_name.label">
  </mat-form-field>
  <div class="fs-form-message">
    <div class="fs-form-hint">{{field.config.description}}</div>
  </div>
</div>

