<div *ngFor="let item of fieldNames">
  <div fxFlexLayout="row" fxLayoutAlign="start center">
    <mat-checkbox color="primary" [(ngModel)]="field.config.configs[item].enabled" (click)="changed()"></mat-checkbox>
    <mat-form-field floatLabel="never" fxFlex>
      <input
        matInput
        placeholder="Label"
        [(ngModel)]="field.config.configs[item].label"
        [disabled]="!field.config.configs[item].enabled"
        [name]="field.config.configs[item]"
        [ngModelOptions]="{ updateOn: 'blur' }"
        (ngModelChange)="changed($event)">
    </mat-form-field>
  </div>
</div>