@import '~@angular/material/theming';

fs-field-editor {
  .fields {
    padding-bottom: 20px;
    .toolbar-field {
      padding: 10px 27px;
      background: #F7F7F7;

      .label {
        display: block;
      }
    }

    &:not(.cdk-drop-list-dragging) {

      .fs-field:not(.selected):hover {
        background: #f9f9f9;
      }
    }
  }

  .toolbar {
    margin-left: 20px;
    align-self: flex-start;
    border-radius: 3px;
    position: relative;

    .section {
      height: 40px;
      border-bottom: 1px solid rgb(199 199 199 / 40%);
      padding-left: 15px;

      mat-icon {
        color: #fff;
      }
    }

    .toolbar-field {
      cursor: pointer;

      &.disabled {
        color: $dark-disabled-text;
      }
    }
  }

  .fs-field {
    border-radius: 3px;
  }
}

.fs-field,
.fs-field-option {

  background:#fff;

  &.cdk-drag-preview {
    opacity: .45;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }


  &.cdk-drag-placeholder {
    background: #F7F7F7;

    .field-container,
    .option-container {
      visibility: hidden;
    }
  }
}

.fs-field {

  .label.mat-form-field {
    display: block;
    margin-right: 10px;

    input {
      font-size: 18px;
    }

    .mat-form-field-infix {
      border-top: 0;
    }
  }

  .drag-button mat-icon {
    color: #676767;
    transform: rotate(90deg);
  }

  .description.mat-form-field,
  .note.mat-form-field {
    display: block;
  }

  .view {
    padding-bottom: 10px;
    .label {
      font-size: 18px;
    }

    .description {
      display: block;
      font-size: 13px;
    }
  }

  .field-drag {
    text-align: center;
    width: 100%;
    cursor: pointer;
    margin: 0 0 -7px;
  }

  &:not(.selected) {
    cursor: pointer;
    * {
      pointer-events: none;
    }

    .field-drag,
    .field-drag *  {
      pointer-events: all;
    }
  }

  &.selected {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    z-index: 1;
    position: relative;
    cursor: initial;
  }
}

fs-field-editor,
fs-field-renderer {

  .field-container {
    width: 100%;
  }

  .field-shorttext,
  .field-longtext {
    width: 100%;

    .mat-form-field {
      width: 100%;
    }
  }

  .field-description {
    padding-bottom: 7px;
    color: rgba(0,0,0,.54);
    font-size: .75em;
  }

  fs-label-field {
    width: 100%;
  }

  fs-label-field.multiline-message .field-message {
    position: relative !important;
    bottom: unset !important;
    padding-top: 7px;
    display: block;
    color: rgba(0, 0, 0, 0.54);
    white-space: pre-line;
  }

  .mat-form-field.subscript-remove {
    .mat-form-field-wrapper {
      padding: 0;
    }

    .mat-form-field-underline {
      bottom: 0;
    }
  }

  .mat-form-field.subscript-multiline {
    .mat-form-field-wrapper {
      padding-bottom: 0;

      .mat-form-field-underline {
        position: initial !important;
        display: block;
        margin-top: -1px;
      }

      .mat-form-field-subscript-wrapper,
      .mat-form-field-ripple {
        position: initial !important;
        display: table;
      }

      .mat-form-field-subscript-wrapper {
        min-height: calc(1em + 1px);
      }

      .mat-form-field-hint-wrapper {
        white-space: pre-line;
      }
    }
  }
}

.toolbar-field.cdk-drag-preview {
  background: #ccc;
  color: #fff;
  border-radius: 3px;
}

@mixin fs-field-editor($theme) {

  $primary: mat-palette($theme);

  .toolbar-field.cdk-drag-preview {
    background: mat-color($primary);
    white-space: nowrap;
    width: auto !important;
    .label {
      margin-right: 15px;
    }

    .add {
      display: inline;
    }
  }
}

.fs-field-toolbar-menu-hidden {
  display: none;
}


.fs-field-toolbar-menu > .mat-menu-content > .mat-menu-item-submenu-trigger {
  padding-right: 0;
  padding-left: 32px;

  &:after {
    left: 16px;
    right: 0;
    border-width: 5px 5px 5px 0;
    border-color: transparent currentColor transparent transparent;
  }
}
