.field-editor-container {
  display: flex;
  padding: 15px;
  min-height: 56px;

  &:not(.has-fields) {
    border: 2px dashed #efefef;
    border-radius: 6px;

    ::ng-deep {
      .fields.cdk-drop-list {
        margin: -15px;
        padding: 15px;
      }
    }
  }

  .fields-container {
    display: flex;
    flex-grow: 1;
    margin-right: -60px;
  }
}

#fs-fields {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.toolbar-container {
  width: 60px;
}

fs-field-toolbar {
  z-index: 100;
}

.fields {
  flex-grow: 1;

  .toolbar-field {
    padding: 10px;
    background: #F7F7F7;
    border-radius: 10px;

    .label {
      display: block;
    }
  }

  ::ng-deep {
    .cdk-drag-placeholder {
      background: #f9f9f9;
      padding: 8px;
      border-radius: 6px;
    }
  }

  &:not(.cdk-drop-list-dragging) {
    ::ng-deep {
      .fs-field:not(.selected):hover {
        background: #f9f9f9;
      }

      .fs-field:hover {
        .field-drag-button {
          visibility: visible;
        }
      }
    }
  }
}

