.fs-field {
  padding: 0 20px 10px 20px;
  &.selected .field-container {
    box-sizing: border-box;
  }
}

#fs-fields {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.toolbar-container {
  width: 60px;
}

fs-field-toolbar {
  z-index: 100;
}
