
  <div fxFlexLayout="row" fxLayoutAlign="start start">
    <div  class="fields"
          fxFlex
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          [style.min-height]="config.fields.length ? 'auto' : '400px' "
          id="fs-fields">

      <div  *ngFor="let field of config.fields; index as idx"
            class="fs-field field"
            cdkDrag
            cdkDragLockAxis="y"
            (cdkDragStarted)="fieldDragStart()"
            (click)="fieldClick(field)"
            [ngClass]="{ selected: selectedField===field }">

        <div class="field-container" [ngClass]="['field-' + field.config.type]">

          <div class="field-drag" cdkDragHandle>
            <button button mat-icon-button type="button" class="drag-button">
              <mat-icon>drag_indicator</mat-icon>
            </button>
          </div>

          <fs-field-header  *ngIf="selectedField===field"
                            [field]="field"
                            [fieldEditor]="fieldEditor"
                            [showRequired]="field.config.configs.showRequired!==false && field.config.type!==fieldType.Address && field.config.type!==fieldType.Heading && field.config.type!==fieldType.Content && field.config.type!==fieldType.File"
                            [showDescription]="field.config.configs.showDescription!==false && field.config.type!==fieldType.Heading && field.config.type!==fieldType.Content">
          </fs-field-header>

          <ng-container [ngSwitch]="field.config.type">
            <ng-container *ngSwitchCase="fieldType.ShortText">
              <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="fieldType.LongText">
              <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="fieldType.Phone">
              <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="fieldType.Email">
              <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="fieldType.Date">
              <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="fieldType.Time">
              <ng-container *ngTemplateOutlet="fsFieldText"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="fieldType.Choice">
              <ng-container *ngTemplateOutlet="fsFieldOptions"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="fieldType.Dropdown">
              <ng-container *ngTemplateOutlet="fsFieldOptions"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="fieldType.Checkbox">
              <ng-container *ngTemplateOutlet="fsFieldOptions"></ng-container>
            </ng-container>

            <ng-container *ngSwitchCase="fieldType.Name">
              <ng-container *ngIf="selectedField===field; else nameElse">
                <fs-field-config-name [field]="field" [fieldEditor]="fieldEditor"></fs-field-config-name>
              </ng-container>

              <ng-template #nameElse>
                <fs-field-render-name [field]="field"></fs-field-render-name>
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="fieldType.File">
              <ng-container *ngIf="selectedField===field; else fileElse">
                  <fs-field-config-file [field]="field" [fieldEditor]="fieldEditor"></fs-field-config-file>
              </ng-container>

              <ng-template #fileElse>
                <fs-field-render-file [field]="field"></fs-field-render-file>
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="fieldType.Gender">
              <ng-container *ngIf="selectedField===field; else genderElse">
                <fs-field-config-gender [field]="field" [fieldEditor]="fieldEditor"></fs-field-config-gender>
              </ng-container>

              <ng-template #genderElse>
                <fs-field-render-gender [field]="field"></fs-field-render-gender>
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="fieldType.Heading">
                <ng-container *ngIf="selectedField===field; else headingElse">
                  <fs-field-config-heading [field]="field" [fieldEditor]="fieldEditor"></fs-field-config-heading>
                </ng-container>

                <ng-template #headingElse>
                  <fs-field-render-heading [field]="field"></fs-field-render-heading>
                </ng-template>
              </ng-container>

              <ng-container *ngSwitchCase="fieldType.Content">
                <ng-container *ngIf="selectedField===field; else contentElse">
                  <fs-field-config-content [field]="field" [fieldEditor]="fieldEditor"></fs-field-config-content>
                </ng-container>

                <ng-template #contentElse>
                  <fs-field-render-content [field]="field"></fs-field-render-content>
                </ng-template>
              </ng-container>

            <ng-container *ngSwitchCase="fieldType.Address">
              <ng-container *ngIf="selectedField===field; else addressElse">
                <fs-field-config-address [field]="field" [fieldEditor]="fieldEditor"></fs-field-config-address>
              </ng-container>

              <ng-template #addressElse>
                <fs-field-render-address [field]="field"></fs-field-render-address>
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="fieldType.RichText">
              <!-- TODO when editor bug is fixed make this pretty -->
              <fs-label-field *ngIf="selectedField!==field">
                <fs-label>{{field.config.label}}</fs-label>
                <!-- <fs-field-render-rich-text *ngIf="field.config.type===fieldType.RichText"
                        [field]="field"></fs-field-render-rich-text> -->
              </fs-label-field>
            </ng-container>

            <ng-container *ngSwitchDefault>
              <ng-container *ngIf="selectedField!==field">
                <ng-template *ngTemplateOutlet="fieldRenderTemplateRefs[field.config.type]; context: {field: field, fieldEditor: fieldEditor}"></ng-template>
              </ng-container>

              <ng-container *ngIf="selectedField===field">
                <ng-template *ngTemplateOutlet="fieldConfigTemplateRefs[field.config.type]; context: {field: field, fieldEditor: fieldEditor}"></ng-template>
              </ng-container>
            </ng-container>

            <ng-template #fsFieldText>
              <fs-field-render-text [field]="field" *ngIf="selectedField!==field"></fs-field-render-text>
            </ng-template>

            <ng-template #fsFieldOptions>
              <ng-container *ngIf="selectedField===field; else optionsElse">
                <fs-field-config-options [field]="field" [fieldEditor]="fieldEditor"></fs-field-config-options>
              </ng-container>

              <ng-template #optionsElse>
                <fs-field-render-checkbox [field]="field" *ngIf="field.config.type===fieldType.Checkbox; else optionsElse"></fs-field-render-checkbox>

                <ng-template #optionsElse>
                  <fs-field-render-options [field]="field"></fs-field-render-options>
                </ng-template>

              </ng-template>
            </ng-template>

          </ng-container>
        </div>
      </div>
    </div>
    <div>
      <fs-field-toolbar [fieldEditor]="fieldEditor"></fs-field-toolbar>
    </div>
  </div>
