.fs-field {
  padding: 0 20px 10px 20px;
  &.selected .field-container {
    box-sizing: border-box;
  }
}

.field-drag .mat-icon {
  color: #b7b7b7;
}

.fs-field:hover .field-drag .mat-icon {
  color: inherit;
}

#fs-fields {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
