<div class="section">
  <span class="label">{{ sectionItem.section }}</span>
  <button mat-icon-button type="button" (click)="toggleCollapse()">
    <mat-icon>{{ expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
  </button>
</div>

<div class="section-content" [@collapse-expand]="state">
  <ng-container *ngFor="let subItem of sectionItem.items">
    <fs-field-toolbar-item
      [item]="subItem"
      [fieldEditor]="fieldEditor">
    </fs-field-toolbar-item>
  </ng-container>
</div>
