<!-- <fs-label-field class="multiline-message">
  <div fxFlexLayout="row" fxLayoutGap="10px">

      <div class="fs-form-wrapper">

          <mat-form-field *ngIf="field.config.configs.first_name?.display">
              <input
                matInput
                name="{{name}}_first_name"
                [(ngModel)]="field.data.value.first_name"
                [placeholder]="field.config.configs.first_name.label"
                [required]="field.config.configs.required===true">
                <mat-hint>asdad lkasjdf;lksajfdl;k asdjf</mat-hint>
            </mat-form-field>
            <mat-form-field *ngIf="field.config.configs.last_name?.display">
              <input
                matInput
                name="{{name}}_last_name"
                [(ngModel)]="field.data.value.last_name"
                [placeholder]="field.config.configs.last_name.label"
                [required]="field.config.configs.required===true">
            </mat-form-field>


          <div class="fs-form-message">
            <div class="fs-form-hint">Format 9999999999</div>
          </div>
        </div>


  </div>
  <fs-label-message>
    {{field.config.configs.description}}
  </fs-label-message>
</fs-label-field>
 -->


<fs-field-render-name-model
  [fsFormFunction]="validate"
  messageSelector="fs-form-message"
  labelSelector="disable-label-selector"
  name="{{name}}_last_name"
  [field]="field"
  [(ngModel)]="field.data.value">
</fs-field-render-name-model>