<div class="toolbar">
  <div *ngFor="let item of items">
  <div cdkDropList cdkDropListConnectedTo="fs-field-fields">
    <div cdkDrag [cdkDragData]="field" (cdkDragStarted)="createField(item)">
      <div fxFlexLayout="row" class="toolbar-field" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-icon>{{ item.icon }}</mat-icon><span>{{ item.label }}</span>
      </div>
      <ng-container *ngIf="item.divide">
        <mat-divider></mat-divider>
      </ng-container>
    </div>
  </div>
</div>
</div>