<div fxLayout="column" fxLayoutAlign="start start">
  <ng-container *ngFor="let field of fieldEditor.config.fields">

    <ng-container *ngIf="fieldViewTemplateRefs[field.config.type]; else standardField">
      <ng-template *ngTemplateOutlet="fieldViewTemplateRefs[field.config.type]; context: { field: field, fieldEditor: fieldEditor }"></ng-template>
    </ng-container>

    <ng-template #standardField>
      <fs-field-view [field]="field"></fs-field-view>
    </ng-template>

  </ng-container>
</div>
