<table>
  <tr>
      <th>Enabled</th>
      <th>Required</th>
      <th>Label</th>
  </tr>

  <tr *ngFor="let item of fieldNames">
      <td class="checkbox">
        <mat-checkbox
          color="primary"
          [(ngModel)]="field.config.configs[item].enabled"
          (ngModelChange)="changed.emit(field)"></mat-checkbox>
      </td>
      <td class="checkbox">
        <mat-checkbox
          color="primary"
          [(ngModel)]="field.config.configs[item].required"
          [disabled]="!field.config.configs[item].enabled"
          (ngModelChange)="changed.emit(field)"></mat-checkbox>
      </td>
      <td>
          <mat-form-field floatLabel="never">
            <input
              matInput
              placeholder="Label"
              [(ngModel)]="field.config.configs[item].label"
              [disabled]="!field.config.configs[item].enabled"
              [name]="field.config.configs[item]"
              [ngModelOptions]="{ updateOn: 'blur' }"
              (ngModelChange)="changed.emit(field)">
          </mat-form-field>
      </td>
  </tr>
</table>
