canvas {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  width: 400px;
  height: 120px;
}

.clear {
  margin: 10px 0;
}


.signature-container {
  width: fit-content;
  text-align: right;
}

