<ng-container [ngSwitch]="field.config.type">
  <mat-form-field class="subscript-multiline" *ngSwitchCase="fieldType.ShortText">
    <input
      matInput
      [placeholder]="field.config.label"
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      [name]="name"
      [required]="field.config.configs.required===true">
    <mat-hint>{{field.config.description}}</mat-hint>
  </mat-form-field>

  <mat-form-field class="subscript-multiline" *ngSwitchCase="fieldType.LongText">
    <textarea
      matInput
      matTextareaAutosize
      matAutosizeMinRows="1"
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      [placeholder]="field.config.label"
      [name]="name"
      [required]="field.config.configs.required===true">
    </textarea>
    <mat-hint>{{field.config.description}}</mat-hint>
  </mat-form-field>

  <mat-form-field class="subscript-multiline" *ngSwitchCase="fieldType.Date">
    <input
      matInput
      [placeholder]="field.config.label"
      fsDatePicker
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      [name]="name"
      [required]="field.config.configs.required===true">
    <mat-hint>{{field.config.description}}</mat-hint>
  </mat-form-field>

  <mat-form-field class="subscript-multiline" *ngSwitchCase="fieldType.Time">
    <input
      matInput
      fsDatePicker
      view="time"
      [placeholder]="field.config.label"
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      [name]="name"
      [required]="field.config.configs.required===true">
    <mat-hint>{{field.config.description}}</mat-hint>
  </mat-form-field>

  <mat-form-field class="subscript-multiline" *ngSwitchCase="fieldType.Phone">
    <input
      matInput
      fsPhone
      [placeholder]="field.config.label"
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      fsFormPhone
      [name]="name"
      [required]="field.config.configs.required===true">
    <mat-hint>{{field.config.description}}</mat-hint>
  </mat-form-field>

  <mat-form-field class="subscript-multiline" *ngSwitchCase="fieldType.Email">
    <input
      matInput
      [fsFormEmail]="true"
      [placeholder]="field.config.label"
      [(ngModel)]="field.data.value"
      (ngModelChange)="changed.emit(field)"
      [name]="name"
      [required]="field.config.configs.required===true">
    <mat-hint>{{field.config.description}}</mat-hint>
  </mat-form-field>

</ng-container>
