<div class="fs-form-wrapper" fxFlexLayout="row" fxLayoutGap="10px">
  <mat-form-field class="subscript-remove" *ngIf="field.config.configs.firstName?.display">
    <input
      matInput
      [name]="name + 'firstName'"
      (ngModelChange)="change($event,'firstName')"
      [(ngModel)]="field.data.value.firstName"
      [placeholder]="field.config.configs.firstName.label">
  </mat-form-field>
  <mat-form-field class="subscript-remove" *ngIf="field.config.configs.lastName?.display">
    <input
      matInput
      [name]="name + 'lastName'"
      (ngModelChange)="change($event,'lastName')"
      [(ngModel)]="field.data.value.lastName"
      [placeholder]="field.config.configs.lastName.label">
  </mat-form-field>
  <div class="fs-form-message">
    <div class="fs-form-hint">{{field.config.description}}</div>
  </div>
</div>
