<fs-label-field class="fs-form-wrapper">
  <div class="row">
    <mat-form-field class="subscript-remove" *ngIf="field.config.configs.firstName?.display">
      <input
        matInput
        [name]="name + 'firstName'"
        (ngModelChange)="change($event,'firstName')"
        [(ngModel)]="field.data.value.firstName"
        [placeholder]="field.config.configs.firstName.label">
    </mat-form-field>
    <mat-form-field class="subscript-remove" *ngIf="field.config.configs.lastName?.display">
      <input
        matInput
        [name]="name + 'lastName'"
        (ngModelChange)="change($event,'lastName')"
        [(ngModel)]="field.data.value.lastName"
        [placeholder]="field.config.configs.lastName.label">
    </mat-form-field>
  </div>

  <fs-label-message class="fs-form-message" *ngIf="field.config.description">
    <div class="fs-form-hint">{{ field.config.description }}</div>
  </fs-label-message>
</fs-label-field>
