:host ::ng-deep {

  fs-label-field {
    position: relative;
  }

  [validation-required='true'] .fs-form-label:after {
    content: ' *';
    display: contents;
  }

  .other {
    max-width: 100%;

    ::ng-deep .mat-checkbox-layout {
      display: flex;
      .mat-checkbox-label {
        flex-grow: 1;
      }
    }

    mat-form-field {
      width: 100%;
      margin-top: -3px;
    }

    .mat-form-field-infix {
      border-top: 0;
    }

    &.choice {
      mat-form-field {
        margin-top: -3px;
      }
    }
  }
}

.other {
  .stub {
    visibility: hidden;
    width: 0px;
  }
}
