:host ::ng-deep {

  fs-label-field {
    position: relative;
  }

  .other {

    mat-form-field {
      width: 100%;
      max-width: 400px;
      margin-top: -3px;
    }

    .mat-form-field-infix {
      border-top: 0;
    }

    &.choice {


      mat-form-field {
        margin-top: -3px;
      }
    }
  }
}

.other {
  .stub {
    visibility: hidden;
    width: 0px;
  }
}
