@use "~@firestitch/style/styles" as fs-style;

@import '../tools/assets/playground.scss';
@import '../src/app/styles.scss';
@import '~@firestitch/file/styles.scss';
@import '~@firestitch/message/styles';
@import '~@firestitch/html-editor/styles';
@import '~@firestitch/gallery/styles';
@import '~@firestitch/form/styles';


@include fs-style.core();
@include mat-core();
@include fs-file($mat-blue);
@include fs-html-editor($mat-blue);
@include fs-field-editor($mat-blue);
@include fs-form($mat-blue);
