<fs-label-field>
  <fs-label class="fs-form-label">
    {{ field?.config.label }}
  </fs-label>
  <div fxLayout="column" *ngIf="field">
    <mat-checkbox
      name="terms-label"
      [(ngModel)]="field.data.value"
      (ngModelChange)="fieldChange(field)"
      [disabled]="disabled">
      {{ field.config.configs.termsLabel }}
    </mat-checkbox>
  </div>
  <div fxLayout="column" *ngIf="field?.config.configs.termsContentSource==='url'">
    <a [href]="field.config.configs.termsContentUrl" target="_blank">
      {{field.config.configs.termsContentLabel}}
    </a>
  </div>

  <fs-label-message>
    <div class="fs-form-message">
    </div>
  </fs-label-message>
</fs-label-field>
