<fs-label-field>
  <fs-label *ngIf="field?.config.label">
    {{ field?.config.label }}
  </fs-label>
  <mat-checkbox
      name="terms-label"
      [(ngModel)]="field.data.value"
      (ngModelChange)="fieldChange(field)"
      [disabled]="disabled">
      {{ field.config.configs.agreeLabel }}
      <a
          *ngIf="field?.config.configs.displayType==='url'"
          (click)="urlClick($event)"
          [href]="field.config.configs.url" target="_blank">
        {{field.config.configs.linkLabel}}
      </a>
      <a
          *ngIf="field?.config.configs.displayType==='dialog'"
          (click)="dialogClick($event)">
        {{field.config.configs.linkLabel}}
      </a>
    </mat-checkbox>
  <fs-label-message>
    <div class="fs-form-message"></div>
  </fs-label-message>
</fs-label-field>
