<div cdkDropList class="options" (cdkDropListDropped)="drop($event)">
  <div *ngFor="let option of field.config.configs.options; index as idx" cdkDrag cdkDragLockAxis="y" class="fs-field-option">

    <div fxFlexLayout="row" fxLayoutAlign="start center" class="option-container">

      <div class="option-drag" cdkDragHandle>
        <button button mat-icon-button type="button" class="drag-button option-drag-button"><mat-icon>drag_indicator</mat-icon></button>
      </div>

      <ng-container [ngSwitch]="field.config.type">
        <mat-checkbox *ngSwitchCase="fieldType.Checkbox" disabled="true"></mat-checkbox>
        <mat-radio-button *ngSwitchCase="fieldType.Choice" disabled="true"></mat-radio-button>
      </ng-container>

      <mat-form-field floatLabel="never" class="option-label" fxFlex>
        <input matInput placeholder="Label" [(ngModel)]="option.name" name="label" [ngModelOptions]="{ updateOn: 'blur' }" (ngModelChange)="changed.emit(field)">
      </mat-form-field>

      <button button mat-icon-button type="button" (click)="removeOption(idx)"><mat-icon>delete</mat-icon></button>
    </div>
  </div>
</div>

<div *ngIf="field.config.configs.other" fxFlexLayout="row" fxLayoutAlign="start center">
  <button button mat-icon-button type="button" [ngStyle]="{'visibility': 'hidden'}"><mat-icon>drag_indicator</mat-icon></button>

  <ng-container [ngSwitch]="field.config.type">
    <mat-checkbox *ngSwitchCase="fieldType.Checkbox" disabled="true"></mat-checkbox>
    <mat-radio-button *ngSwitchCase="fieldType.Choice" disabled="true"></mat-radio-button>
  </ng-container>

  <mat-form-field floatLabel="never" class="option-label" fxFlex>
    <input
      matInput
      placeholder="Label"
      disabled="true"
      name="label"
      value="Other">
  </mat-form-field>

  <button button mat-icon-button type="button" (click)="field.config.configs.other = false"><mat-icon>delete</mat-icon></button>
</div>

<div>
  <div fxFlexLayout="row" fxLayoutAlign="start center">
    <button button mat-icon-button type="button" *ngIf="field.config.configs.options.length"><mat-icon></mat-icon></button>
    <mat-checkbox disabled="true" style="visibility: hidden" *ngIf="(field.config.type===fieldType.Checkbox || field.config.type===fieldType.Choice) && field.config.configs.options.length"></mat-checkbox>

    <mat-form-field floatLabel="never" class="new-option" fxFlex>
      <input
        matInput
        autofocus
        #addOptionInput
        placeholder="Add New Option"
        [(ngModel)]="newOption"
        name="newOption"
        (keydown)="addOption($event)">
    </mat-form-field>
    <ng-container *ngIf="(field.config.type === fieldType.Checkbox || field.config.type === fieldType.Choice) && field.config.configs.options.length && !field.config.configs.other">
      <span class="or">Or</span> <button mat-button type="button" color="primary" (click)="otherToggle()">
        {{ field.config.configs.other ? 'Remove' : 'Add' }} "Other" Option</button>
    </ng-container>

    <button button mat-icon-button type="button" style="visibility: hidden"><mat-icon>delete</mat-icon></button>
  </div>
</div>
