
<div *ngIf="fieldEditor.selectedField===field; else selectedElse">

  <div class="options">
      <div fxFlexLayout="column" fxLayoutGap="20px">
        <mat-form-field fxFlex>
          <input
            matInput
            placeholder="Max Width"
            [(ngModel)]="field.configs.max_width"
            name="max_width">
        </mat-form-field>

        <mat-form-field fxFlex>
          <input
            matInput
            placeholder="Max Height"
            [(ngModel)]="field.configs.max_height"
            name="max_width">
        </mat-form-field>

        <mat-form-field fxFlex>
          <input
            matInput
            placeholder="Image Quality"
            [(ngModel)]="field.configs.image_quality"
            name="max_width">
        </mat-form-field>
      </div>
      
      <mat-checkbox color="primary" [(ngModel)]="field.configs.allow_multiple">Allow Multiple</mat-checkbox>
      
      <h3>Allowed File Types:</h3>
      <div fxFlexLayout="column" fxLayoutGap="20px">
        <mat-checkbox color="primary" [(ngModel)]="field.configs.allowed_file_types.image">Image</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="field.configs.allowed_file_types.video">Video</mat-checkbox>
        <mat-checkbox color="primary" [(ngModel)]="field.configs.allowed_file_types.other">Other</mat-checkbox>
      </div>
  </div>
</div>
<ng-template #selectedElse>
  <div fxFlexLayout="row" fxLayoutGap="10px">
    <button mat-raised-button color="primary">Select File(s)</button>
  </div>
</ng-template>